@import url('https://fonts.googleapis.com/css?family=Ubuntu:400i,500i,700i&display=swap&subset=cyrillic');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
h2 {
    color: green;
}
header {
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700 italic;
    text-align: center;
    border: 2px solid skyblue;
    border-radius: 10px;
    background: skyblue;
    color:green;
    text-shadow: 0 1px 1px #2D2020;
}
input {
    text-align: center; 
}
input::placeholder {
    color: skyblue;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400 italic;
}
input:hover{
    background-color: white;
}
.form {
    text-align: center;
}
.todo_list{
    margin-top: 10px;
}
.add_new {
    margin-top: 10px;
}
.todo {
    height: 35px;
    padding-left: 0;
    
 }
 .todo li {
    padding: 1em;
    border-radius: 10px;
    background-color: skyblue;
    list-style-type: none;
    margin-top: 10px;
    
}
.todo li:not(:last-child) {
    background-color: skyblue;
    border-bottom: 1px solid skyblue;
}
.important {
    color: #ba2461;
    
}  
input[type=checkbox] {
    opacity: 0;
    position: absolute; 
    
}

input[type=checkbox], label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    color:green;
    cursor: pointer; 
    font-size: 24px;
    font-weight: bold;
    
}
  
input[type=checkbox] + label:before {
    content: '';
    border-radius: 5px;
    border: 3px solid #78a8bc;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    position: relative;
    
 }
  
input[type=checkbox]:checked + label:before {
    content: "";
    width: 25px;
    height: 25px;
    border-color: green;
    border-width: 0 5px 5px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-radius: 0;
    margin: 0 15px 5px 0px; 
}

input:checked + label{
    text-decoration: line-through;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400 italic;
    color: #78a8bc;
}